<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="ramais">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">lib/amixsi</directory>
		</whitelist>
	</filter>
</phpunit>
