{% extends 'layout.twig' %}
{% block head %}
			<script>
				window.onload = function(){
					var inputCo = document.getElementById("login");
					var bloqueiaTecla1 = new BloqueadoTecla();
					inputCo.addEventListener('keyup', function (event) { bloqueiaTecla1.bloqueia(event); }, false);
				};
			</script>
{% endblock %}	
{% block body %}
			<form id="cadastro" action="" method="post">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Login :</label>
                  <input id="login" type="text" name="usuario" placeholder="Usuário" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Senha :</label>
								<input type="password" name="senha" placeholder="Senha" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<button id="cadastrar" name="cadastrar" type="submit" value="cadastrar" class="btn btn-success form-control">
									<span>Cadastrar</span>
									<span class="loader"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script>
		$(function () {
			var loaderAlterar = ComeComeLoader($('#cadastrar .loader'), $('#cadastrar'));
			$('#cadastro').submit(trataSubmitAjax('/home', loaderAlterar));
		});
		</script>
{% endblock %}
