{% extends 'layout.twig' %}
{% block head %}            
	<script>
  	window.onload = function(){
       var inputCa = document.getElementById("input_cargos");
       var total = document.getElementById("total");
       var inputCo = document.getElementById("input_contato");
       var salva_form = document.getElementById('salva_form');
       maxLength = parseInt(inputCa.getAttribute('max-length'), 10);
       total.innerHTML = maxLength;
       inputCa.addEventListener('keyup', contador, false);
       salva_form.addEventListener('submit', submit, false);
       var bloqueiaTecla1 = new BloqueadoTecla();
       inputCo.addEventListener('keyup', function (event) { bloqueiaTecla1.bloqueia(event); }, false);
  	};
  </script>
{% endblock %}
{% block body %}
	{% for m in message %}
	<script>alert('{{ m }}');</script>
	{% endfor %}
	<form id="contato" action="/contato" method="post" id="salva_form">
			<div class="row">
					<div class="col-md-4">
							<div class="form-group">
									<label>Cargos :</label>
									<input type="text" name="cargos" max-length="50" class="form-control" id="input_cargos"
										 autofocus autocomplete="off"><br>
									<div><span id="total"></span> Restantes</div>
							</div>
					</div>
					<div class="col-md-4" id="coluna_contato">
							<div class="form-group">
									<label>Nome do Contato :</label>
									<input type="text" name="contato" id="input_contato" value="" class="form-control"
										 autocomplete="off" />
							</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-2">
							<div class="form-group">
									<button type="submit" value="Enviar" class="btn btn-success form-control">
										<span>Enviar</span>
										<span class="loader"></span>
									</button>
							</div>
					</div>
			</div>
	</form>
	<script>
		$(function () {
			$('#contato').submit(trataSubmitAjax('/home'), loaderAlterar);
		});
	</script>
	{% endblock %}
