{% extends 'layout.twig' %}

{% block body %}
				{% if error != '' %}
				<div class="row">
						<div class="col-md-12">Ocorreu um erro na execução</div>
				</div>
				{% endif %}
				<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<a href="/contato">
								<button class="btn btn-default form-control">
									<span></span>
								</button>
							</a>
						</div>
						<div class="col-md-4">
							<a href="/">
								<button type="button" class="btn btn-default form-control">
									<span></span>
								</button>
							</a>
						</div>
						<div class="col-md-4">
							<a href="/">
								<button type="button" class="btn btn-default form-control">
									<span></span>
								</button>
							</a>
						</div>
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
							<a href="/">
								<button type="button" class="btn btn-default form-control botao">
									<span></span>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
