<div class="container">
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">AMIX</a>
					{% if (app.session.get('usuario')) %}
						<p class="navbar-text">Bem-vindo, {{ app.session.get('usuario') }}</p>
					{% endif %}
				</div>
				{% if (app.session.get('usuario')) %}
					<a href="/logout">
						<button name="botao" type="submit" class="btn btn-default navbar-btn navbar-right">Sair</button>
					</a>
				{% endif %}
			</div>
		</nav>
	</div>
