{% extends 'layout.twig' %}

{% block body %}
<form id="permite" action="/permite" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Usuario :</label>
                <select class="form-control" name="id">
								{% for usuario in usuarios %}
								<option value="{{ usuario.id }}">{{ usuario.login }}</option>
								{% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Nivel :</label>
								<select class="form-control" name="niveis">
									{% for niveis in todos_niveis %}
									<option value="{{ niveis }}">
										{{ niveis }}
									</option>
									{% endfor %}
								</select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <button id="enviar" type="submit" value="Enviar" class="btn btn-success form-control">
									<span>Enviar</span>
									<span class="loader"></span>
								</button>	
            </div>
        </div>
    </div>
</form>
<script>
$(function () {
	var loaderAlterar = ComeComeLoader($('#enviar .loader'), $('#enviar'));
	$('#permite').submit(trataSubmitAjax('/home', loaderAlterar));
});
</script>
{% endblock %}
