{% extends 'layout.twig' %}

{% block head %}
<style>
	.circulo{
		display: inline-block;
		background-color: red;
		border-radius: 20px;
		width: 20px;
		height: 20px;
		margin: 2px;
	}
</style>
{% endblock %}

{% block body %}
<div id="bloco">

<nav class="circulo"></nav>

</div>
<div>
	<div id="message"></div>
	<ul id="contatos"></ul>
	<button id="btn">Adiciona mensagem</button>
	<button id="btnAumenta">Aumenta Circulo</button>
</div>
<script>
$(function () {
		$('#btn').click(function () {
			$.getJSON('/test-message', function (data) {
				$('#message').html('<h1>' + data.message + '<h1>');
				$('#contatos').children().remove();
				$.each(data.contatos, function (i, contato) {
					$('#contatos').append($('<h4><li>' + contato.nome + '</li><h4>'));
				});
			})
		});
		$("#btnAumenta").click(function(){
			$(".circulo").each(function () {
				var $tamanho = $(this).width();
				$tamanho = $tamanho + 10;
				$(this).css("border-radius", $tamanho);
				$(this).width($tamanho).height($tamanho);
			});
			$('#bloco').prepend('<nav class="circulo"></nav>');
		});

});
</script>

{% endblock %}
