{% extends 'layout.twig' %}

{% block body %}
<div class="container">
	<div id="form"> 
		{% include 'form.twig' %}
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label>Filtro :</label>
				<input type="text" name="filtro" id="filtro" value="" class="form-control" autocomplete="off" />
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button id="consultar" type="submit" value="Consultar" class="btn btn-info form-control margin">
					<span>Consultar</span>
					<span class="loader"</span>
				</button>	
			</div>
		</div>
	</div>
	<div id="tabela"></div>
</div>
<script>
$(function () {

		var loaderInserir = ComeComeLoader($('#enviar .loader'), $('#enviar'));
		var loaderAlterar = ComeComeLoader($('#alterar .loader'), $('#alterar'));

		$('#consultar').click(consultar);
		$('#tabela').on('click', 'a', function (e) { 
			var $a = $(e.currentTarget);
			var href = $a.prop('href');
			e.preventDefault();
			carregarForm(href);
		});
		$('#form').on('click', '#inserir', trataSubmitAjax('/home', loaderInserir));
		$('#form').on('click', '#alterar', alteraRedirect('/cadastro/usuario', loaderAlterar, aposAlterar));

		function consultar() {
			$('#tabela').load('usuario/table?filtro=' + encodeURIComponent($('#filtro').val())); 
		}

		function aposAlterar() {
			consultar();
			carregarForm('usuario/form');
		}

		function carregarForm(href) {
			$('#form').load(href, function () {
				loaderInserir.set($('#enviar .loader'), $('#enviar'));
				loaderAlterar.set($('#alterar .loader'), $('#alterar'));
			});
		}

		function alteraRedirect(url, loader, complete) {
			return function (e) {
				e.preventDefault();
				loader.load(true);
				$.ajax({
					type: "PUT",
					url: url,
					data: $('#form > form').serialize(),
					success: success
				});
				function success(data) {
					loader.load(false);
					if (data.success) {
						complete();
					}
				}
			};
		}
});
</script>
{% endblock %}
